@using ProjectJobHunt.Models.Job;
@model JobVM
<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(../assets/images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Welcome ALI TUFAN</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block no-padding">
        <div class="container">
            <div class="row no-gape">

                <div class="col-lg-9 column mx-auto">
                    <div>
                        <div class="profile-title">
                            <h3>Add Job</h3>
                        </div>
                        <div class="profile-form-edit">
                            <form method="post">
                                <div class="row">


                                    <div>
                                        <select data-placeholder="Allow In Search">
                                            @foreach (Category item in ViewBag.Category)
                                            {
                                                <option value="@item.id">@item.Name</option>
                                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                                            }

                                        </select>
                                    </div>

                                    <div class="col-lg-3">
                                        <span class="pf-title">Min Age</span>
                                        <div class="pf-field">
                                            <input asp-for="MinAge" placeholder="MinAge" />
                                            <span asp-validation-for="MinAge" style="color:rebeccapurple;"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <span class="pf-title">MaxAge</span>
                                        <div class="pf-field">
                                            <input asp-for="MaxAge" placeholder="MaxAge" />

                                            <span asp-validation-for="MaxAge" style="color:rebeccapurple;"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <span class="pf-title">Salary</span>
                                        <div class="pf-field">
                                            <input asp-for="Salary" placeholder="Salary" />

                                            <i class="la la-money"></i>
                                            <span asp-validation-for="Salary" style="color:rebeccapurple;"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <span class="pf-title">Experience With Year</span>
                                        <div class="pf-field">
                                            <input asp-for="ExperienceYearId" placeholder="ExperienceYear" />
                                            <span asp-validation-for="ExperienceYearId" style="color:rebeccapurple;"></span>
                                        </div>
                                    </div>
                                         <div>
                                        <select data-placeholder="Allow In Search">
                                            @foreach (ExperienceYear item in ViewBag.ExpeerienceYear)
                                            {
                                                <option value="@item.id">@item.Year</option>
                                                <span asp-validation-for="ExperienceYearId" class="text-danger"></span>
                                            }

                                        </select>
                                    </div>

                                    <div>
                                        <select data-placeholder="Allow In Search">
                                            @foreach (JobType item in ViewBag.Jobtype)
                                            {
                                                <option value="@item.id">@item.WorkType</option>
                                                <span asp-validation-for="JobTypeId" class="text-danger"></span>
                                            }

                                        </select>
                                    </div>
                                    <div>
                                        <select data-placeholder="Allow In Search">
                                            @foreach (Education item in ViewBag.Education)
                                            {
                                                <option value="@item.id">@item.EducationName</option>
                                                <span asp-validation-for="EducationId" class="text-danger"></span>
                                            }

                                        </select>
                                    </div>
                                 <div>
                                        <select data-placeholder="Allow In Search">
                                            @foreach (Language item in ViewBag.Language)
                                            {
                                                <option value="@item.id">@item.LanguageName</option>
                                                <span asp-validation-for="LanguageId" class="text-danger"></span>
                                            }

                                        </select>
                                    </div>
                                    <div>
                                        <select data-placeholder="Allow In Search">
                                            @foreach (City item in ViewBag.City)
                                            {
                                                <option value="@item.id">@item.CityName</option>
                                                <span asp-validation-for="City" class="text-danger"></span>
                                            }

                                        </select>
                                    </div>
                                    <div class="col-lg-12 my-3">

                                        <h3>Contact</h3>

                                    </div>
                                    <div class="col-lg-4">
                                        <div class="pf-field">
                                            <input asp-for="PhoneNumber" placeholder="Phone Number">
                                            <span asp-validation-for="PhoneNumber"></span>
                                        </div>

                                    </div>
                                    <div class="col-lg-4">
                                        <div class="pf-field">
                                            <input asp-for="Email" placeholder="Email">
                                            <span asp-validation-for="Email"></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-4">


                                        <div class="pf-field">
                                            <input asp-for="Website" placeholder="Website">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <span class="pf-title">Description</span>
                                        <div class="pf-field">
                                            <textarea asp-for="Description"></textarea>
                                            <span asp-validation-for="Description"></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="submit">Post Job</button>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
