@using System.Security.Claims;
@model Profile
@{
    string role = User.FindFirst(ClaimTypes.Role)?.Value;

}
<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(~/assets/images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Welcome @Model.Name</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block no-padding">
        <div class="container">


            <div class="col-lg-12 column">
                <div class="padding-left">
                    <div class="profile-title">
                        <h3>My Profile</h3>


                    </div>
                    <div class="profile-form-edit">
                        <form method="post" enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-lg-6">

                                    <img src="~/assets/images/User/@Model.ImageURL" style="width:250px;float:right;" />

                                </div>
                                <div class="col-lg-6">
                                    <span class="pf-title">Image</span>
                                    <div class="pf-field">
                                        <input asp-for="Photo" type="file" />
                                        <span asp-validation-for="Photo" class="text-danger"></span>
                                    </div>
                                </div>



                                @*<div class="col-lg-3">
                                <span class="pf-title  text-danger">Username</span>
                                <div class="pf-field">
                                <input asp-for="@Model.Username" value="@Model.Username" />
                                </div>
                                </div>*@
                                <div class="col-lg-3">
                                    <span class="pf-title text-danger">Name</span>
                                    <div class="pf-field">
                                        <input asp-for="@Model.Name" value="@Model.Name" />
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <span class="pf-title text-danger">Surname</span>
                                    <div class="pf-field">
                                        <input asp-for="@Model.Surname" value="@Model.Surname" />
                                    </div>
                                </div>

                                @if (role == "EMPLOYEE")
                                {
                                }
                                else
                                {
                                      <div class="col-lg-2">
                                    <span class="pf-title text-danger">Age</span>
                                    <div class="pf-field">
                                        <input asp-for="@Model.Age" value="@Model.Age" />
                                    </div>
                                </div>
                                }

                                @if (role == "EMPLOYEE")
                                {
                                }
                                else
                                {
                                      <div class="col-lg-6">
                                    <span class="pf-title text-danger">Categories</span>
                                    <div class="pf-field">
                                        <select id="ChooseCategory" asp-items="ViewBag.Categories" asp-for="CategoryId" class="chosen" style="display: none;" required>
                                            <option value="">-- Select Category --</option>
                                        </select>
                                    </div>
                                </div>
                                }
                                @if (role == "EMPLOYEE")
                                {
                                }
                                else
                                {
                                    <div class="col-lg-6">
                                    <span class="pf-title text-danger">Position</span>
                                    <div class="pf-field">
                                        <select id="PositionList" asp-for="UserProfession" required>
                                            <option value="">-- Select Position --</option>
                                        </select>

                                    </div>
                                </div> 

                                }
                             
                                @if (role == "EMPLOYEE")
                                {
                                }
                                else
                                {
                                <div class="col-lg-6">
                                    <span class="pf-title text-danger">Education Levels</span>
                                    <div class="pf-field">
                                        <select asp-for="EducationId" class="chosen">
                                            <option value="">-- Select Education --</option>
                                            @foreach (Education item in ViewBag.Education)
                                            {
                                                <option value="@item.id">@item.EducationName</option>

                                            }
                                        </select>
                                    </div>
                                </div>

                                }


                                <div class="col-lg-4">
                                    <span class="pf-title text-danger">Phone Number</span>
                                    <div class="pf-field">
                                        <input asp-for="Phone" value="@Model.Phone" />
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <span class="pf-title text-danger">Description</span>
                                    <div class="pf-field">
                                        <textarea asp-for="Description">@Model.Description</textarea>
                                    </div>
                                </div>


                                <div asp-validation-summary="ModelOnly"></div>

                                <div class="col-lg-12">
                                    <button type="submit">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>

    $(function () {
        $("#ChooseCategory").change(function () {
            $("#PositionList").empty();

            $.ajax({
                url: '/Job/GetProfessionsByCategory',
                type: 'POST',
                dataType: 'json',
                data: { id: $("#ChooseCategory").val() },
                success: function (data) {
                    console.log("Success");

                    $("#PositionList").append("<option value=-1> Choose Profession</option>");
                    $.each(data, (index, value) => {
                        $("#PositionList").append(`<option value="${value.value}">${value.text}</option>`);
                    });
                }
            })
        });
    })

</script>

