@model List<AppUser>

@{
    int count = 0;
}


<div class="col-lg-12">
    <div class="card   mx-auto">
        <div class="card-body  ">
            <h4 class="card-title">Striped rows</h4>
            <p class="card-title-desc">Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.</p>

            <div class="table-responsive">
                <a asp-action="index" asp-controller="home" asp-area="ProjectJobHunt" class="btn btn-primary waves-effect waves-light">Back ToHome</a>

                <table class="table table-striped">


                    <thead>

                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Created Time</th>
                            
                            <th>Setting</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (AppUser item in Model)
                        {
                            count++;

                            <tr>
                                <td scope="row">@count</td>

                                <td>        <img class="rounded-circle header-profile-user" src="~/assets/images/User/@item.ImageURL" alt="Header Avatar"></td>
                                <td>@item.UserName</td>
                                <td>@item.Name</td>
                                <td>@item.Name</td>
                                <td>@item.CreatedAt</td>
                                <td>
                                    <a asp-action="delete" asp-area="admin" asp-controller="AppUser" asp-route-id="@item.Id" class="btn btn-danger waves-effect waves-light">Delete</a>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>