@model PostJobVM
<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(../assets/images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header wform">
                        <div class="job-search-sec">
                            <div class="job-search">
                                <h4>Explore Thousand Of Jobs With Just Simple Search...</h4>
                                <div id="searchForm">
                                       <form  asp-action="Index"  asp-controller="Job" >
                                    <div class="row">
                                        <div class="col-lg-7">
                                                <div class="job-field">
                                                    <input name="search"
                                                           class="input-field"
                                                           type="text"
                                                           placeholder="Search"
                                                    @*value="@(Model.Search==null?"":Model.Search)"*@ />
                                                    @*  <button type="button" onclick="search()">Search</button>
                                                    *@     <i class="la la-keyboard-o"></i>
                                             
                                                </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="job-field">
                                                    <select data-placeholder="City" name="city" province or region" class="chosen-city">
                                                    <option value="">Select City</option>
                                                    @foreach (City item in Model.Cities)
                                                    {
                                                        <option value="@item.id">@item.CityName</option>
                                                    }
                                                </select>
                                                <i class="la la-map-marker"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-1">
                                            <button type="submit" onclick="searchJobs()"><i class="la la-search"></i></button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>

    <div class="block remove-top">
        <div class="container">
            <div class="row no-gape">
                <aside class="col-lg-3 column">
                    <div class="widget border">
                        <h3 class="sb-title open">Specialism</h3>
                        <div class="specialism_widget">
                            <div class="simple-checkbox">
                              
                                  <p><a asp-action="index" asp-controller="job">
                                        <i class="fa fa-chevron-right"></i>
                                        All
                                    </a>
                                </p>
                                @foreach (Category category in Model.Category)
                                {
                                    <p>
                                        <a asp-action="index" asp-controller="job" asp-route-categoryId="@category.id">
                                            <i class="fa fa-chevron-right"></i>
                                            @category.Name
                                        </a>
                                    </p>
                                }

                            </div>
                        </div>
                    </div> <div class="widget border">
                        <h3 class="sb-title open">Job Type</h3>
                        <div class="type_widget">
                            <form asp-action="Index" asp-controller="job">

                                @foreach (var jobType in Model.JobTypes)
                                {
                                    <p class="flchek">
                                        <input onchange="this.form.submit()" type="checkbox" name="jobtype" id="@jobType.id">
                                        <label for="@jobType.id">@jobType.WorkType</label>
                                    </p>
                                }
                            </form>
                  
                        </div>
                    </div>
              
                    <div class="widget border">
                        <h3 class="sb-title closed">Offerd Salary</h3>
                        <div class="specialism_widget">
                            <div class="simple-checkbox">
                                <p><input type="checkbox" name="smplechk" id="1"><label for="1">10k - 20k</label></p>
                                <p><input type="checkbox" name="smplechk" id="2"><label for="2">20k - 30k</label></p>
                                <p><input type="checkbox" name="smplechk" id="3"><label for="3">30k - 40k</label></p>
                                <p><input type="checkbox" name="smplechk" id="4"><label for="4">40k - 50k</label></p>
                            </div>
                        </div>
                    </div>
                    <div class="widget border">
                        <h3 class="sb-title closed">Career Level</h3>
                        <div class="specialism_widget">
                            <div class="simple-checkbox">
                                <p><input type="checkbox" name="smplechk" id="5"><label for="5">Intermediate</label></p>
                                <p><input type="checkbox" name="smplechk" id="6"><label for="6">Normal</label></p>
                                <p><input type="checkbox" name="smplechk" id="7"><label for="7">Special</label></p>
                                <p><input type="checkbox" name="smplechk" id="8"><label for="8">Experienced</label></p>
                            </div>
                        </div>
                    </div>
                    <div class="widget border">
                        <h3 class="sb-title closed">Experince</h3>
                        <div class="specialism_widget">
                            <div class="simple-checkbox">
                                <p><input type="checkbox" name="smplechk" id="9"><label for="9">1Year to 2Year</label></p>
                                <p><input type="checkbox" name="smplechk" id="10"><label for="10">2Year to 3Year</label></p>
                                <p><input type="checkbox" name="smplechk" id="11"><label for="11">3Year to 4Year</label></p>
                                <p><input type="checkbox" name="smplechk" id="12"><label for="12">4Year to 5Year</label></p>
                            </div>
                        </div>
                    </div>

                    <div class="banner_widget">
                        <a href="#" title=""><img src="~/assets/images/resource/banner.png" alt="" /></a>
                    </div>
                </aside>
                <div class="col-lg-9 column">
                    <div class="modrn-joblist np">
                        <div class="filterbar">
                      

                            <div class="sortby-sec">
                                <span>Sort by</span>
                                <form asp-action ="Index" asp-controller="job">
                                    <select onchange="this.form.submit()" name="Order" data-placeholder="Most Recent" class="chosen">
                                        <option value="">Suggested Sorting</option>
                                        <option value="1">Sort by Time</option>
                                        <option value="2">Sort by Highest Price</option>
                                        <option value="3">Sort by Lowest Price</option>
                                    </select>
                                </form>
                          
                          
                            </div>
                            <h5>@Model.PostJobs.Count()  Jobs & Vacancies</h5>
                        </div>
                    </div><!-- MOdern Job LIst -->
                    <div class="job-list-modern">
                        <div id="jobListings" class="job-listings-sec no-border">
                            @foreach (PostJob item in Model.PostJobs)
                            {
                                var userImageURL = Model.AppUsers.FirstOrDefault(x => x.Id == item.AppUserId)?.ImageURL ?? "NoImage.png";
                                var positionName = Model.Positions.FirstOrDefault(x => x.id == item.PositionId)?.PositionName ?? string.Empty;
                                var userName = Model.AppUsers.FirstOrDefault(x => x.Id == item.AppUserId)?.Name;
                                <div class="job-listing wtabs" onclick="location.href='@Url.Action("CompanyJobDetail", "job", new { id = item.id })'" style="cursor: pointer;">
                                    <div class="job-title-sec">
                                        <div class="c-logo">
                                            <img src="~/assets/images/User/@userImageURL" alt="" />
                                        </div>
                                        <h3> @positionName / @item.Category.Name</h3>
                                        <span>@userName</span>
                                        @if (item.Description.Length < 100)
                                        {
                                            <p class="job-lctn">@item.Description</p><br />
                                        }
                                        else
                                        {
                                            <p class="job-lctn"> @item.Description.Substring(0,50)... </p><br />

                                        }				
                                        <div class="job-lctn"><i class="la la-map-marker"></i>@item.City.CityName</div>
                                    </div>

                                    <div class="job-style-bx">
                                        <span style="color:red;">@item.Salary</span>
                                        <span class="job-is ft">@item.JobType.WorkType</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        <i>@item.Created</i>
                                    </div>
                                </div>
                            }

                        </div>

                        <div class="pagination">

                            @if (ViewBag.Page > 0)
                            {
                                <a asp-action="index" asp-controller="Job" asp-route-page="@(ViewBag.Page-1)" type="button" class="btn btn-secondary ">Previous</a>

                            }
                            @for (int i = 0; i < ViewBag.Total; i++)
                            {

                                <a asp-action="index" asp-controller="job" asp-route-page="@(i)" type="button" class="btn btn-secondary @(i==ViewBag.Page?"disabled":"")">@(i + 1)</a>

                            }
                            @if (ViewBag.Page + 1 < ViewBag.Total)
                            {
                                <a asp-action="index" asp-controller="job" asp-route-page="@(ViewBag.Page+1)" type="button" class="btn btn-secondary">Next</a>

                            }
                        </div><!-- Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*
<script>


    function searchJobs() {
        var searchBoxValue = document.getElementById("SearchBox").value;
        var selectedCity = document.querySelector(".chosen-city").value;

        var selectedJobTypes = [];
        var checkboxes = document.querySelectorAll('.flchek:checked');
        checkboxes.forEach(function (checkbox) {
            selectedJobTypes.push(checkbox.getAttribute('data-job-type'));
        });

        var jobListingsContainer = document.getElementById("jobListings");

        fetch(`/Job/Index?search=${searchBoxValue}&cityId=${selectedCity}&jobTypes=${selectedJobTypes.join(',')}`)
            .then(response => response.text())
            .then(data => {
                // İş ilanları listesini güncelle
                jobListingsContainer.innerHTML = data;
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }


</script>*@