@using FinalProjectJobHunt.Models;
@model PostJobVM



<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(../assets/images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Welcome ALI TUFAN</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block no-padding">
        <div class="container">
            <div class="row no-gape">

                <div class="col-lg-9 column mx-auto">
                    <div>
                        <div class="profile-title">
                            <h3>Add Job</h3>
                        </div>
                        <div class="profile-form-edit">
                            <form method="post">
                                <div class="row">
                                    @* 
                                    <div class="col-lg-5">
                                    <span class="pf-title">Position</span>
                                    <div class="pf-field">
                                    <select id="PositionList" data-placeholder="Allow In Search" asp-validation-for="PositionId" class="chosen" style="display: none;" required>
                                    <option value="">-- Select Position --</option>
                                    </select>
                                    <span class="text-danger" asp-validation-for="PositionId"></span>
                                    </div>
                                    </div>*@
                                    <div class="col-lg-6">
                                        <span class="pf-title">Categories</span>
                                        <div class="pf-field">
                                            <select id="ChooseCategory" onchange="ChangeCategory()" asp-items="ViewBag.Categories" asp-for="CategoryId" class="chosen" style="display: none;" required>
                                                <option value="">-- Select Category --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pf-title">Position</span>
                                        <div class="pf-field">
                                            <select id="PositionList" asp-for="PositionId" required>
                                                <option value="">-- Select Position --</option>
                                            </select>
                                            @*class="chosen" style="display: none;"*@

                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <span class="pf-title">Min Age</span>
                                        <div class="pf-field">
                                            <input asp-for="MinAge" placeholder="MinAge" />
                                            <span asp-validation-for="MinAge" style="color:rebeccapurple;"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <span class="pf-title">MaxAge</span>
                                        <div class="pf-field">
                                            <input asp-for="MaxAge" placeholder="MaxAge" />
                                            <span asp-validation-for="MaxAge" style="color:rebeccapurple;"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <span class="pf-title">Salary</span>
                                        <div class="pf-field">
                                            <input asp-for="Salary" placeholder="Salary" />
                                            <i class="la la-money"></i>
                                            <span asp-validation-for="Salary" style="color:rebeccapurple;"></span>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <span class="pf-title">Job Type</span>
                                        <div class="pf-field">
                                            <select asp-for="JobTypeId" data-placeholder="Allow In Search" class="chosen">
                                                <option value="">-- Select Job Type --</option>
                                                @foreach (var category in Model.JobTypes)
                                                {
                                                    <option value="@category.id">@category.WorkType</option>
                                                }
                                            </select>
                                            <span asp-validation-for="JobTypeId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <span class="pf-title">Education</span>
                                        <div class="pf-field">
                                            <select asp-for="EducationId" data-placeholder="Allow In Search" asp-validation-for="EducationId" class="chosen">
                                                <option value="">-- Select Your Education --</option>
                                                @foreach (var category in Model.Educations)
                                                {
                                                    <option value="@category.id">@category.EducationName</option>
                                                }
                                            </select>
                                            <span asp-validation-for="EducationId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <span class="pf-title">Language</span>
                                        <div class="pf-field">
                                            <select asp-for="LanguageId" data-placeholder="Allow In Search" asp-validation-for="LanguageId" class="chosen">
                                                <option value="">-- Select Language --</option>
                                                @foreach (var category in Model.Languages)
                                                {
                                                    <option value="@category.id">@category.LanguageName</option>
                                                }
                                            </select>
                                            <span asp-validation-for="LanguageId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <span class="pf-title">City</span>
                                        <div class="pf-field">
                                            <select asp-for="CityId" class="chosen">
                                                <option value="">-- Select City --</option>
                                                @foreach (var city in Model.Cities)
                                                {
                                                    <option value="@city.id">@city.CityName</option>
                                                }
                                            </select>
                                            <span asp-validation-for="CityId" class="text-danger"></span>
                                        </div>
                                    </div>

                    
                                    <div class="col-lg-3">
                                        <span class="pf-title">Experience</span>
                                        <div class="pf-field">
                                            <select asp-for="WorkExperienceId" data-placeholder="Allow In Search" asp-validation-for="WorkExperienceId" class="chosen">
                                                <option value="">-- Select Experience --</option>
                                                @foreach (var category in Model.WorkExperiences)
                                                {
                                                    <option value="@category.id">@category.Experience</option>
                                                }
                                            </select>
                                            <span asp-validation-for="WorkExperienceId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <span class="pf-title">Work Experience (Year)</span>
                                        <div class="pf-field">
                                            <input asp-for="Experience" placeholder="Experience" />
                                            <span asp-validation-for="Experience" style="color:rebeccapurple;"></span>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 my-3">
                                        <h3>Contact</h3>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="pf-field">
                                            <input asp-for="PhoneNumber" placeholder="PhoneNumber" />
                                            <i class="la la-phone"></i>
                                            <span asp-validation-for="PhoneNumber" style="color:rebeccapurple;"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="pf-field">
                                            <input asp-for="Email" placeholder="Email" />
                                            <i class="la la-envelope-o"></i>
                                            <span asp-validation-for="Email" style="color:rebeccapurple;"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="pf-field">
                                            <input asp-for="Website" placeholder="Website" />
                                            <i class="la la-globe"></i>
                                            <span asp-validation-for="Website" style="color:rebeccapurple;"></span>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <span class="pf-title">Job Description</span>
                                        <div class="pf-field">
                                            <textarea asp-for="Description" placeholder="Description"></textarea>
                                            <span asp-validation-for="Description" style="color:rebeccapurple;"></span>
                                        </div>

                                    </div>
                                    <div asp-validation-summary="ModelOnly"></div>
                                    <div class="col-lg-12">
                                        <ul>
                                            <li><button class="active" type="submit" value="post">Add Job</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



<script>

   
        function ChangeCategory() {
            $("#PositionList").empty();
            console.log("Success");

            $.ajax({
                url: '/Job/GetProfessionsByCategory',
                type: 'POST',
                dataType: 'json',
                data: { id: $("#ChooseCategory").val() },
                success: function (data) {
                    console.log("Success");

                    $("#PositionList").append("<option value=-1> Choose Profession</option>");
                    $.each(data, (index, value) => {
                        $("#PositionList").append(`<option value="${value.value}">${value.text}</option>`);
                    });
                }
            })
        };
   

</script>




