@using FinalProjectJobHunt.Models;
@model UserPostJobVM
<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(../assets/images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Welcome ALI TUFAN</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block no-padding">
        <div class="container">
            <div class="row no-gape">

                <div class="col-lg-9 column mx-auto">
                    <div>
                        <div class="profile-title">
                            <h3>Add Job</h3>
                        </div>
                        <div class="profile-form-edit">
                            <form method="post">
                                <div class="row">


                                    @*    <div>
                                    <select data-placeholder="Allow In Search">
                                    @foreach (Category item in Model.Category)
                                    {
                                    {
                                    <option value="@item.id">@item.Name</option>
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                    }

                                    </select>
                                    </div>*@

                                    <div class="col-lg-6">
                                        <span class="pf-title">Categories</span>
                                        <div class="pf-field">
                                            <select id="ChooseCategory" asp-items="ViewBag.Categories" asp-for="CategoryId" class="chosen" style="display: none;" required>
                                                <option value="">-- Select Category --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pf-title">Position</span>
                                        <div class="pf-field">
                                            <select id="PositionList" asp-for="PositionId" required></select>
                                            @*class="chosen" style="display: none;"*@

                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        <span class="pf-title">Age</span>
                                        <div class="pf-field">
                                            <input asp-for="Age" placeholder="Age" />
                                            <span asp-validation-for="Age" style="color:rebeccapurple;"></span>
                                        </div>
                                    </div>
                         
                                    <div class="col-lg-3">
                                        <span class="pf-title">Salary</span>
                                        <div class="pf-field">
                                            <input asp-for="Salary" placeholder="Salary" />

                                            <i class="la la-money"></i>
                                            <span asp-validation-for="Salary" style="color:rebeccapurple;"></span>
                                        </div>
                                    </div>


                                    <div class="col-lg-3">
                                        <span class="pf-title">Job Type</span>
                                        <div class="pf-field">
                                            <select asp-for="JobTypeId" data-placeholder="Allow In Search" class="chosen">
                                                <option value="">-- Select Job Type --</option>
                                                @foreach (var category in Model.JobTypes)
                                                {
                                                    <option value="@category.id">@category.WorkType</option>
                                                }
                                            </select>
                                            <span asp-validation-for="JobTypeId" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <span class="pf-title">Education</span>
                                        <div class="pf-field">
                                            <select asp-for="EducationId" data-placeholder="Allow In Search" asp-validation-for="CategoryId" class="chosen">
                                                <option value="">-- Select Your Education --</option>
                                                @foreach (var category in Model.Educations)
                                                {
                                                    <option value="@category.id">@category.EducationName</option>
                                                }
                                            </select>
                                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <span class="pf-title">Language</span>
                                        <div class="pf-field">
                                            <select asp-for="LanguageId" data-placeholder="Allow In Search" class="chosen">
                                                <option value="">-- Select Category --</option>
                                                @foreach (var category in Model.Languages)
                                                {
                                                    <option value="@category.id">@category.LanguageName</option>
                                                }
                                            </select>
                                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="col-lg-3">
                                        <span class="pf-title">City</span>
                                        <div class="pf-field">
                                            <select asp-for="CityId" data-placeholder="Allow In Search" asp-validation-for="CategoryId" class="chosen">
                                                <option value="">-- Select City --</option>
                                                @foreach (var category in Model.Cities)
                                                {
                                                    <option value="@category.id">@category.CityName</option>
                                                }
                                            </select>
                                            <span asp-validation-for="CityId" class="text-danger"></span>
                                        </div>
                                    </div>



                                    <div class="col-lg-3">
                                        <span class="pf-title">Experience</span>
                                        <div class="pf-field">
                                            <select asp-for="WorkExperienceId" data-placeholder="Allow In Search" asp-validation-for="CategoryId" class="chosen">
                                                <option value="">-- Select Experience --</option>
                                                @foreach (var category in Model.WorkExperiences)
                                                {
                                                    <option value="@category.id">@category.Experience</option>
                                                }
                                            </select>
                                            <span asp-validation-for="WorkExperienceId" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <span class="pf-title">Work Experience (Year)</span>
                                        <div class="pf-field">
                                            <input asp-for="Experience" placeholder="Experience" />

                                            <span asp-validation-for="Experience" style="color:rebeccapurple;"></span>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 my-3">

                                        <h3>Contact</h3>

                                    </div>
                                    <div class="col-lg-4">
                                        <div class="pf-field">
                                            <input asp-for="PhoneNumber" placeholder="Phone Number">
                                            <span asp-validation-for="PhoneNumber"></span>
                                        </div>

                                    </div>
                                    <div class="col-lg-4">
                                        <div class="pf-field">
                                            <input asp-for="Email" placeholder="Email">
                                            <span asp-validation-for="Email"></span>

                                        </div>
                                    </div>
                                 
                                    <div class="col-lg-12">
                                        <span class="pf-title">Description</span>
                                        <div class="pf-field">
                                            <textarea asp-for="Description"></textarea>
                                            <span asp-validation-for="Description"></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="submit">Post Job</button>
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    $(function () {
        $("#ChooseCategory").change(function () {
            $("#PositionList").empty();

            $.ajax({
                url: '/Job/GetProfessionsByCategory',
                type: 'POST',
                dataType: 'json',
                data: { id: $("#ChooseCategory").val() },
                success: function (data) {
                    console.log("AJAX isteği başarılı oldu!");

                    $("#PositionList").append("<option value=-1> Choose Profession</option>");
                    $.each(data, (index, value) => {
                        $("#PositionList").append(`<option value="${value.value}">${value.text}</option>`);
                    });
                }
            })
        });
    })

</script>