@model List<Category>
@{
    string role = User.FindFirst(ClaimTypes.Role)?.Value;


}
<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(../assets/images/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>All CAtegories</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="col-lg-12">
    <div class="cat-sec">
        <div class="row no-gape">
            @foreach (Category item in Model)
            {
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="p-category">

                        @if (role == "EMPLOYEE")
                        {
                            <a asp-action="userindex" asp-controller="job" asp-route-categoryId="@item.id">
                                @Html.Raw(item.Icon)
                                <span>@item.Name</span>
                                <p>(22 open positions)</p>
                            </a>
                        }
                        else
                        {
                            <a asp-action="index" asp-controller="job" asp-route-categoryId="@item.id">
                                @Html.Raw(item.Icon)
                                <span>@item.Name</span>
                                <p>(22 open positions)</p>
                            </a>
                        }
                    </div>
                </div>

            }



        </div>
    </div>
</div> <br /><br />
