@using FinalProjectJobHunt.Models.Job;
@model HomeVM
@{
    string role = User.FindFirst(ClaimTypes.Role)?.Value;


}
<style>
    .custom-div {
        cursor: pointer;
    }
</style>
<section>
    <div class="block no-padding">
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-featured-sec">
                        <div class="new-slide-3">
                            <img src="~/assets/images/resource/vector-4.png">
                        </div>
                        <div class="job-search-sec">
                            <div class="job-search">
                                <h3>The Easiest Way to Get Your New Job</h3>
                                <span>Find Jobs, Employment & Career Opportunities</span>
                                <form asp-action="Index" asp-controller="Home">
                                    <div class="row">
                                        <div class="col-lg-7 col-md-5 col-sm-12 col-xs-12">
                                            <div class="job-field">
                                                <input name="search"
                                                       class="input-field"
                                                       type="text"
                                                       placeholder="Search"
                                                @*value="@(Model.Search==null?"":Model.Search)"*@ />
                                                @*                                             <button type="button" onclick="search()">Search</button>
                                                *@                                                <i class="la la-keyboard-o"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <button type="submit"><i class="la la-search"></i></button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>

                        <div class="scroll-to">
                            <a href="#scroll-here" title=""><i class="la la-arrow-down"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="width:60%;" class="mx-auto">
    <div id="jobListings" class="job-listings-sec no-border" style="margin-left:30%">

        @foreach (PostJob item in Model.PostJobs)
        {
            var userImageURL = Model.Users.FirstOrDefault(x => x.Id == item.AppUserId)?.ImageURL ?? "NoImage.png";
            var positionName = Model.Positions.FirstOrDefault(x => x.id == item.PositionId)?.PositionName ?? string.Empty;
            var userName = Model.Users.FirstOrDefault(x => x.Id == item.AppUserId)?.Name;
            <div class="job-listing wtabs" onclick="location.href='@Url.Action("CompanyJobDetail", "job", new { id = item.id })'" style="cursor: pointer;">
                <div class="job-title-sec">
                    <div class="c-logo">
                        <img src="~/assets/images/User/@userImageURL" alt="" />

                    </div><h6 style="color:red">Vacancy</h6>
                    <h3> @positionName / @item.Category.Name</h3>
                    <span>@userName</span>
                    @if (item.Description.Length < 100)
                    {
                        <p class="job-lctn">@item.Description</p>

                        <br />
                    }
                    else
                    {
                        <p class="job-lctn"> @item.Description.Substring(0,50)... </p>

                        <br />

                    }
                    <div class="job-lctn"><i class="la la-map-marker"></i>@item.City.CityName</div>
                </div>

                <div class="job-style-bx">

                    <i style="color:blueviolet">@item.Created</i>
                </div>
            </div>
        }
        @foreach (UserPostJob item in Model.UserPostJobs)
        {

            var userImageURL = Model.Users.FirstOrDefault(x => x.Id == item.AppUserId)?.ImageURL ?? "NoImage.png";
            var positionName = Model.Positions.FirstOrDefault(x => x.id == item.PositionId)?.PositionName ?? string.Empty;
            var userName = Model.Users.FirstOrDefault(x => x.Id == item.AppUserId)?.Name;
            <div class="job-listing wtabs" onclick="location.href='@Url.Action("Detail", "job", new { id = item.id })'" style="cursor: pointer;">
                <div class="job-title-sec">
                    <div class="c-logo">
                        <img src="~/assets/images/User/@userImageURL" alt="" />
                    </div>
                    <h6 style="color:red">Work Shared By The User</h6>

                    <h3> @positionName / @item.Category.Name</h3>
                    <span>@userName</span>
                    @if (item.Description.Length < 100)
                    {
                        <p class="job-lctn">@item.Description</p>

                        <br />
                    }
                    else
                    {
                        <p class="job-lctn"> @item.Description.Substring(0,50)... </p>

                        <br />

                    }
                    <div class="job-lctn"><i class="la la-map-marker"></i>@item.City.CityName</div>
                </div>

                <div class="job-style-bx">

                    <i style="color:blueviolet">@item.Created</i>
                </div>
            </div>
        }

    </div>
</section>

<section id="scroll-here">
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading">
                        <h2>Popular Categories</h2>

                        <span>37 jobs live - 0 added today.</span>
                    </div><!-- Heading -->
                    <div class="cat-sec">
                        <div class="row no-gape">
                            @foreach (Category item in Model.Categories)
                            {
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="p-category">

                                        @if (role == "EMPLOYEE")
                                        {
                                            <a asp-action="userindex" asp-controller="job" asp-route-categoryId="@item.id">
                                                @Html.Raw(item.Icon)
                                                <span>@item.Name</span>
                                                <p>(22 open positions)</p>
                                            </a>
                                        }
                                        else
                                        {   <a asp-action="index" asp-controller="job" asp-route-categoryId="@item.id">
                                                @Html.Raw(item.Icon)
                                                <span>@item.Name</span>
                                                <p>(22 open positions)</p>
                                            </a>
                                        }
                                    </div>
                                </div>

                            }

                        </div>
                    </div>

                </div>
                <div class="col-lg-12">
                    <div class="browse-all-cat">
                        <a asp-action="Categories" asp-controller="home" title="">Browse All Categories</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
   

        <div class="block mx-auto">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="stats-sec style2">
                            <div class="row">
                                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                                    <div class="stats">
                                        <span>18</span>
                                        <h5>Jobs Posted</h5>
                                    </div>
                                </div>
                                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                                    <div class="stats">
                                        <span>@Model.Blogs.Count()</span>
                                        <h5>Blog Posted</h5>
                                    </div>
                                </div>

                                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                                    <div class="stats">
                                        <span>@Model.Users.Count()</span>
                                        <h5>Members</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
@if (User.Identity.IsAuthenticated)
{

}
else
{
    <section>
        <div class="block double-gap-top double-gap-bottom">
            <div data-velocity="-.1" style="background: url(../assets/images/resource/parallax1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible layer color"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="simple-text-block">
                            <h3>Make a Difference with Your Online Resume!</h3>
                            <span>Your resume in minutes with JobHunt resume assistant is ready!</span>
                            <a asp-action="register" asp-controller="account" title="">Create an Account</a>
                            <a asp-action="login" asp-controller="account" title="">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading">
                        <h2>Featured Jobs</h2>
                        <span>Leading Employers already using job and talent.</span>
                    </div><!-- Heading -->
                    <div class="job-listings-sec">
                        <div class="job-listing">
                            <div class="job-title-sec">
                                <div class="c-logo"> <img src="~/assets/images/resource/l1.png" alt="" /> </div>
                                <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                <span>Massimo Artemisis</span>
                            </div>
                            <span class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California</span>
                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                            <span class="job-is ft">FULL TIME</span>
                        </div><!-- Job -->
                        <div class="job-listing">
                            <div class="job-title-sec">
                                <div class="c-logo"> <img src="~/assets/images/resource/l2.png" alt="" /> </div>
                                <h3><a href="#" title="">Marketing Director</a></h3>
                                <span>Tix Dog</span>
                            </div>
                            <span class="job-lctn"><i class="la la-map-marker"></i>Rennes, France</span>
                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                            <span class="job-is pt">PART TIME</span>
                        </div><!-- Job -->
                        <div class="job-listing">
                            <div class="job-title-sec">
                                <div class="c-logo"> <img src="~/assets/images/resource/l3.png" alt="" /> </div>
                                <h3><a href="#" title="">C Developer (Senior) C .Net</a></h3>
                                <span>StarHealth</span>
                            </div>
                            <span class="job-lctn"><i class="la la-map-marker"></i>London, United Kingdom</span>
                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                            <span class="job-is ft">FULL TIME</span>
                        </div><!-- Job -->
                        <div class="job-listing">
                            <div class="job-title-sec">
                                <div class="c-logo"> <img src="~/assets/images/resource/l4.png" alt="" /> </div>
                                <h3><a href="#" title="">Application Developer For Android</a></h3>
                                <span>Altes Bank</span>
                            </div>
                            <span class="job-lctn"><i class="la la-map-marker"></i>Istanbul, Turkey</span>
                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                            <span class="job-is fl">FREELANCE</span>
                        </div><!-- Job -->
                        <div class="job-listing">
                            <div class="job-title-sec">
                                <div class="c-logo"> <img src="~/assets/images/resource/l5.png" alt="" /> </div>
                                <h3><a href="#" title="">Regional Sales Manager South east Asia</a></h3>
                                <span>Vincent</span>
                            </div>
                            <span class="job-lctn"><i class="la la-map-marker"></i>Ajax, Ontario</span>
                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                            <span class="job-is tp">TEMPORARY</span>
                        </div><!-- Job -->
                        <div class="job-listing">
                            <div class="job-title-sec">
                                <div class="c-logo"> <img src="~/assets/images/resource/l6.png" alt="" /> </div>
                                <h3><a href="#" title="">Social Media and Public Relation Executive </a></h3>
                                <span>MediaLab</span>
                            </div>
                            <span class="job-lctn"><i class="la la-map-marker"></i>Ankara / Turkey</span>
                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                            <span class="job-is ft">FULL TIME</span>
                        </div><!-- Job -->
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="browse-all-cat">
                        <a href="#" title="">Load more listings</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading">
                        <h2>Companies We've Helped</h2>
                        <span>Some of the companies we've helped recruit excellent applicants over the years.</span>
                    </div><!-- Heading -->
                    <div class="comp-sec">
                        <div class="company-img">
                            <a href="#" title=""><img src="~/assets/images/resource/cc1.jpg" alt="" /></a>
                        </div><!-- Client  -->
                        <div class="company-img">
                            <a href="#" title=""><img src="~/assets/images/resource/cc2.jpg" alt="" /></a>
                        </div><!-- Client  -->
                        <div class="company-img">
                            <a href="#" title=""><img src="~/assets/images/resource/cc3.jpg" alt="" /></a>
                        </div><!-- Client  -->
                        <div class="company-img">
                            <a href="#" title=""><img src="~/assets/images/resource/cc4.jpg" alt="" /></a>
                        </div><!-- Client  -->
                        <div class="company-img">
                            <a href="#" title=""><img src="~/assets/images/resource/cc5.jpg" alt="" /></a>
                        </div><!-- Client  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block">
        <div data-velocity="-.1" style="background: url(../assets/images/resource/parallax3.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading">
                        <h2>Quick Career Tips</h2>
                        <span>Found by employers communicate directly with hiring managers and recruiters.</span>
                    </div><!-- Heading -->
                    <div class="blog-sec">
                        <div class="row">
                            @foreach (Blog item in Model.Blogs)
                            {
                                <div class="col-lg-4 custom-div" onclick="redirectToAction('@item.id')" onmouseover="changeCursor(this)">
                                    <div class="my-blog">
                                        <div class="blog-thumb">
                                            <a asp-action="Singleblog" asp-controller="Blog" asp-route-id="@item.id" title=""><img src="~/assets/images/BlogImages/@item.ImageURL" alt="" /></a>
                                            <div class="blog-metas">
                                                <span>@item.DateTime</span>
                                            </div>
                                        </div>
                                        <div class="blog-details">
                                            <h3><span>@item.Title</span></h3>
                                            @if (item.Description.Length < 100)
                                            {
                                                <p>@item.Description</p>
                                            }
                                            else
                                            {
                                                <p> @item.Description.Substring(0,100)... </p>
                                            }
                                            <span>Read More <i class="la la-long-arrow-right"></i></span>
                                        </div>
                                    </div>
                                </div>
                            }






                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section>
    <div class="block no-padding" data-toggle="modal" data-target="#inviteModal" style="cursor: pointer;">
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="simple-text">
                        <h3>Gat a question?</h3>
                        <h3>CONTACT US</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="inviteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Invite to Job</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Enter your message to send to the Admin:</p>
                    <textarea id="inviteMessage" class="form-control" rows="5"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="sendInvite()">Send</button>
                    <button type="button" id="customClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</section>

<script>



    function sendInvite() {
        var inviteMessage = document.getElementById("inviteMessage").value;
        $.ajax({
            url: "/Message/SendMessage",
            type: "POST",
            data: {
                send: {
                    Description: inviteMessage,
                    ReceiverId: 1029
                }
            },
            success: function (response) {
                $("#successModal").modal("show");
            },
            error: function (error) {
            }
        });

        $("#inviteModal").modal("hide");
    }

</script>*@
