@model MessagesVM
@{
    string role = User.FindFirst(ClaimTypes.Role)?.Value;
}
@*Style-i CSS kimi assetslerde yaratmisam amma gormur*@
<style>
    
    .job-listings-sec {
        text-align: center;
    }

    .job-listing {
        width: 60%;
        margin: 0 auto;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #f9f9f9;
        transition: background-color 0.3s ease;
    }

        .job-listing:hover {
            background-color: #eaeaea;
        }

    .c-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

        .c-logo img {
            width: 100%;
            max-height: 90px;
            object-fit: cover;
            border-radius: 5px;
        }

    .job-title-sec h3 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    .job-title-sec p {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.5;
    }

    .job-style-bx i {
        color: #888;
        font-size: 12px;
    }

    .job-title-sec span {
        display: block;
        margin-top: 10px;
        font-weight: bold;
        font-size: 14px;
    }

</style>
<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(../assets/images/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Inbox</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="job-listings-sec no-border">
    <div id="searchResults"></div>
    <h3>Messages</h3>

    @foreach (var item in Model.RecieveMessages)
    {
        var userImageURL = Model.AppUsers.FirstOrDefault(x => x.Id == item.id)?.ImageURL ?? "NoImage.png";
        var positionName = Model.Positions.FirstOrDefault(x => x.id == item.PositionId)?.PositionName ?? string.Empty;
        var categoryName = Model.Categories.FirstOrDefault(x => x.id == item.CategoryId)?.Name ?? string.Empty;
        var username = Model.AppUsers.FirstOrDefault(x => x.Id == item.SenderId).Name;

       <div class="job-listing wtabs ml-5" onclick="location.href='@Url.Action("CompanyJobDetail", "job", new { Id = item.PostJobId })'">
           <div class="c-logo">
                <img src="~/assets/images/User/@userImageURL" alt="" />
            </div>
            <div class="job-title-sec">
                <h3>@positionName / @categoryName</h3>
                @if (item.Description.Length < 100)
                {
                    <p>@item.Description</p>
                }
                else
                {
                    <p>@item.Description.Substring(0, 100)... </p>
                }            
                <div class="job-style-bx">

                    <a asp-action="Delete" asp-controller="Message" asp-route-id="@item.id" class="btn btn-danger waves-effect waves-light">Delete</a>                   
                </div>
                <span>Sent by: @username</span> 
                <span style="color:red;">@item.Created</span>
            </div>
       </div>
    }
</div>

<div class="job-listings-sec no-border">
    <div id="searchResults"></div>
    <h3>Messages You Send</h3>
    @foreach (var item in Model.SendMessages)
    {
        var userImageURL = Model.AppUsers.FirstOrDefault(x => x.Id == item.id)?.ImageURL ?? "NoImage.png";
        var positionName = Model.Positions.FirstOrDefault(x => x.id == item.PositionId)?.PositionName ?? string.Empty;
        var categoryName = Model.Categories.FirstOrDefault(x => x.id == item.CategoryId)?.Name ?? string.Empty;
        var username = Model.AppUsers.FirstOrDefault(x => x.Id == item.SenderId).Name;

        <div class="job-listing wtabs ml-5" onclick="location.href='@Url.Action(role == "EMPLOYEE" ? "CompanyJobDetail" : "Detail", "job", new { Id = role == "EMPLOYEE" ? item.PostJobId : item.UserPostJobId })'">
            <div class="c-logo">
                <img src="~/assets/images/User/@userImageURL" alt="" />
            </div>
            <div class="job-title-sec">
                <h3>@positionName / @categoryName</h3>
                @if (item.Description.Length < 100)
                {
                    <p>@item.Description</p>
                }
                else
                {
                    <p>@item.Description.Substring(0, 100)... </p>
                }
                <div class="job-style-bx">

                    <a asp-action="Delete" asp-controller="Message" asp-route-id="@item.id" class="btn btn-danger waves-effect waves-light">Delete</a>
                </div>
                <span>Sent by: @username</span>
                <span style="color:red;">@item.Created</span>
            </div>
        </div>
    }
</div>
